<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
  'background': '#eee',
  'padding': '2vw',
  'color': 'black',
  'border': '.5vw solid crimson'
}">
  <h1 [ngStyle]="{'color': 'crimson','font-weight': 'bolder'}">
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a [routerLink] = "['/home']" [routerLinkActive] = "['active']">Home</a>
    &nbsp;
    <a [routerLink] = "['/libros']" [routerLinkActive] = "['active']">Libros</a>
    &nbsp;
    <a [routerLink] = "['/videojuegos']" [routerLinkActive] = "['active']">Videojuegos</a>
    &nbsp;
    <a [routerLink] = "['/externo']" [routerLinkActive] = "['active']">Externo</a>
    &nbsp;
    <a [routerLink] = "['/contacto']" [routerLinkActive] = "['active']">Contacto</a>
  </nav>
<router-outlet></router-outlet>
</div>